<launch>
    <arg name="db_file" value="$(find applications)/../object_db_files/db.json"/>
    <node pkg="applications" type="pickup_server.py" name="pickup_server_node" output="screen"/>
    <node pkg="applications" type="main_picker_node.py" name="main_picker_node" args="$(arg db_file)" output="screen"/>
</launch>