.slider {
    margin-bottom: 1.5rem;
}

.inputBox {
    display: flex;
    flex-direction: row;
}

.inputBox > :nth-child(1) {
    margin-right: 5px;
    flex-grow: 1;
}

.heightText {
    text-align: center;
}